<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shop Demo</title>
	<script src="libs/angular.min.js"></script>
	<script src="js/module.js"></script>
	<script src="js/model.js"></script>
	<script src="js/controller.js"></script>
</head>
<body ng-app="shopmodule">
	<div ng-controller="shopctrl">
	<a href="#" ng-click="loadMobileData()">Mobile</a>
	<ul>
	<li ng-repeat="obj in result.data.mobiles">
		{{obj.name|uppercase}} {{obj.price|currency}} <img ng-src="{{obj.image}}" width="100" height="100">
	</li>
	
</ul>
	
	</div>
	
</body>
</html>